@tailwind base;
@tailwind components;
@tailwind utilities;

.cv {
  /* A4 */
  width: 210mm;
}

.page-break {
  display: none;
}

.link {
  color: rgb(5 150 105 / var(--tw-bg-opacity));
}

@media print {
  .page-break {
    display: block;
    page-break-before: auto;
  }

  .print-hidden {
    display: none;
  }
}

a:hover {
  text-decoration: underline;
}
